body{
    background-color: rgb(39, 36, 36);
    display: block;
}


.container{
    width: 830px;
    height: 720px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;

    line-height: 1.15;
    color: #566066;
    font-family: geomanist_regularregular,Roboto;
    font-weight: 400;
    letter-spacing: .025em;
    font-size: 16px;
    position: relative;
}

@media (max-width: 500px){

    .container{
        width: 90%;
        height: 720px;
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
        background-color: aliceblue;
    
        line-height: 1.15;
        color: #566066;
        font-family: geomanist_regularregular,Roboto;
        font-weight: 400;
        letter-spacing: .025em;
        font-size: 16px;
    }

}

.container2{
    width: 800px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
}

.container-darken{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
    opacity: 0.3;
    pointer-events: none;

    color: #566066;
    font-family: geomanist_regularregular,Roboto;
    font-weight: 400;
    letter-spacing: .025em;
    font-size: 16px;
}

#pytanie{
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height:166px;
   
}

#tresc-pytania{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right:0;
    text-align: center;
    margin-top: 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#przyciski-pytania{
    width: 288px;
    height: 66px;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right: 0;
}
#podpowiedz{
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    text-align: center;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#wprowadz{
   width: 211px;
   height: 62px;
   padding: 0px;
   margin: 0px;
   background-color: #020f17;
   color: white;
   text-align: center;
   float:left;
   border: solid black 0.5px;

}



#butt-next{
    width: 58px;
    height: 66px;
    padding:0px;
    margin: 0px;
    margin-left: 15px;
    border: solid black 0.5px
}

#butt-next2{
    width: 150px;
    height: 66px;
    padding:0px;
    margin: 0px;
    border: solid black 0.5px
}

#butt-next:hover{
    cursor: pointer;
}

#podpowiedzi{
    width: 315px;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 150px;
}

#but-pokaz-odp{
    width: 150px;
    height: 66px;
    border: solid black 0.5px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 69px;

}

#but-pokaz-odp:hover{
    cursor: pointer;
}

#div-pokaz{
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.butt-podp{
    width: 150px;
    height: 66px;
    border: solid black 0.5px;
}

.butt-podp:hover{
    cursor: pointer;
}

#buttp1{
    margin-right: 15px;
}

#odpowiedz{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.par-odp{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0);
    align-items: center;
    justify-content: center;
    font-size: 20px;
    
}

.par-odp-darken{
    display: flex;
    flex-direction: column;
    background-color: rgba(54, 54, 46, 0.95);
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 15px;
    max-width: 400px;
    
    white-space: pre-wrap;
    color: rgb(185, 185, 185);
    padding: 20px;
}

.zla-odp-darken{
    
    max-width: 400px;
    display: flex;
    flex-direction: column;
    background-color: rgba(54, 54, 46, 0.95);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    border-radius: 15px;
    
    color: rgb(185, 185, 185);
    padding: 20px;
}

#okno{
    height: 20%;
    width:  33%;
    background-color: rgb(54, 54, 46);
    position: absolute;
    left:33%;
    top:40%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#czy_na_pewno{
    font-size: 30px;
}

#przyciski_tak_nie{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#butt-potw-tak{
    width: 50px;
    height: 40px;
    margin: 5px;
    color: black;
    font-size: 15px;
}

#butt-potw-nie{
    width: 50px;
    height: 40px;
    margin: 5px;
    color: black;
    font-size: 15px;
}

#logowanie{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    width: 100%;
    height: 100%;
}

#administracja{
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    width: 100%;
    height: 50%;
    padding-bottom: 100px;
    padding-top: 100px;
}

#wgrywanie{
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    width: 100%;
    height: 70%;
    padding-top:20px;
}

#start-header{
    width: 100%;
    height: 20%;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start-panel{
    width: 100%;
    height: 100%;
    background-color: rgb(87, 79, 79);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#start-panel-text{
    background-color: rgba(54, 54, 46, 0.8);
    padding:15px;
    border-radius: 15px;
    color: rgb(158, 158, 158);
}

#header-img{
    width: 600px;
    height: 100px;
}

#butt-rozpocznij{
    width: 150px;
    height: 66px;
    border: solid black 0.5px;
}

#kod-zagadki{
    width: 215px;
    height: 66px;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #020f17;
    border: 0px;

    line-height: 1.15;
    color: #9ca5ac;
    font-family: geomanist_regularregular,Roboto;
    font-weight: 400;
    letter-spacing: .025em;
    font-size: 16px;
    
}

#zagadki{
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    width: 100%;
    height: 70%;
}

.zagadka{
    width: 70%;
    background-color: cadetblue;
    margin: 15px;
    font-size: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 7px;
    border: solid rgb(56, 84, 85) 3px;
}

.zagadka-content{
    width: 80%;
}

.zagadka-icons{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.icon:hover{
    transform: scale(1.5);
    transition: 0.5s;
    cursor: pointer
}

hr{
    width: 100%;
    height: 10px;
    margin: 0px;
    background-color: rgb(39, 36, 36);
    border: none;
     
}

#utworz-zagadke{
    width: 70%;
    background-color: cadetblue;
    margin: 15px;
    font-size: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 7px;
    border: solid rgb(56, 84, 85) 3px;
}

#icon-minus{
    width: 30px;
    height: 30px;
}

.icon{
    width: 40px;
    height: 40px;
}

.edit-form-hidden{
    display: none;
}

.edit-form{
    display: block;
}

#edit-info-par{
    color:purple
}

#wynikowe{
    width: 100%;
    height: 100%;
    background-color: rgb(35, 70, 99);
    color: rgb(170, 158, 143);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#gratulacje-img{
    width: 80%;
    height: 30%;
}

#gratulacje-edit{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    border: solid black 1px;
    padding: 20px;
    border-radius: 15px;
}

#text-gratulacje{
   
    width: 250px;
    height: 50px;
    font-size: 15px;
    text-align: center;
}
#grat-info{
    position: absolute;
    font-size: 20px;
}

#but-grat-text{


}

#paragraf-gratulacje{
    font-size: 30px;
    
}

#gratulacje{
    display: none;
}

.fb-icon{
    width: 30px;
    height: 100%;
}

.fb-hover-div{
    height: 16%;
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transition: 1.5s;
}

.fb-hover-div-wide{
    height: 16%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.fb-text{
    display: none;
}
.fb-text-visible{
    display: block;
    background-color: rgb(46, 110, 110);
    height: 8px;
    border-radius: 0px 10px 10px 0px;
    padding: 10px;
    white-space: nowrap;
}

#okno-gratulacje{

    height: 400px;
    width:  300px;
    background-color: rgb(54, 54, 46);
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top:40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0.8;
    border-radius: 15px;

    line-height: 1.15;
    color: #9ca5ac;
    font-family: geomanist_regularregular,Roboto;
    font-weight: 400;
    letter-spacing: .025em;
    font-size: 16px;
}

#text-start-edit{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    border: solid black 1px;
    border-radius: 20px;
    padding:20px;
}

#text-start{
    width: 80%;
    height: 50px;
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
}

#label-square{
    width: 50%;
    float:left;
}

#form-square{
    float:left;
    width: 50%;
}

#utworz-text-div{
    width: 100%;
    margin-bottom: 20px;
}

.div-haslo{
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.minusek{
    width: 30px;
    height: 30px;
    margin-left: 50px;
}

#nastep-zagad{
    width: 200px;
    height: 66px;
    border-radius: 5px;
    color: rgb(103, 112, 119);
    background-color: #020f17;
    margin: 3px;
    border: 0px;
}

#nastep-zagad:hover{
    background-color: #083855;
    cursor: pointer
}

#butt-jeszcze-raz{
    width: 200px;
    height: 66px;
    border-radius: 5px;
    color: rgb(103, 112, 119);
    background-color: #020f17;
    margin: 3px;
    border: 0px;
}

#butt-jeszcze-raz:hover{
    background-color: #083855;
    cursor: pointer
}

#butt-przejdz-start{
    width: 200px;
    height: 66px;
    border-radius: 5px;
    color: rgb(103, 112, 119);
    background-color: #020f17;
    margin: 3px;
    border: 0px;
}

#butt-przejdz-start:hover{
    background-color: #083855;
    cursor: pointer
}

#dalsze-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#od-nowa{
    width: 200px;
    height: 66px;
    border-radius: 5px;
    color: rgb(103, 112, 119);
    background-color: #020f17;
    margin: 3px;
    border: 0px;
}

#od-nowa:hover{
    background-color: #083855;
    cursor: pointer
}

#butt-pods{
    width: 200px;
    height: 66px;
    border-radius: 5px;
    color: rgb(103, 112, 119);
    background-color: #020f17;
    margin: 3px;
    border: 0px;
}

#butt-pods:hover{
    background-color: #083855;
    cursor: pointer
}

#par-gratulacje{
    text-align: center;
}

.display-graf{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
    padding:20px;
    border-radius: 20px;
}

.graf-url-par{
    font-size: 15px;
}

.podglad-image{
    width:200px;
    height: 200px;
}

#div-losowe-hasla{
    border: solid black 1px;
    padding: 20px;
    margin-top: 50px;
    border-radius: 15px;
}

#display-graf-start{
    margin-top: 50px;
}

#display-graf-podp1{
    margin-top: 50px;
}

#par-pyt{
    display: flex;
    flex-direction: column;
    background-color: rgba(54, 54, 46, 0.95);
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 15px;
    max-width: 400px;
    
    white-space: pre-wrap;
    color: rgb(185, 185, 185);
    padding: 20px;
}
