{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Zagadka</title>
        <link rel="stylesheet" type='text/css' href="{% static 'css/index.css' %}">
    </head>
    <body>
        <div class="container2">
            <div id="administracja">
                Administracja 
                <br />
                <button id="butt-wylog">Wyloguj</button>
            </div>
            <div id="wgrywanie">
                Wgraj grafike startową:
                <input type="file" id="prze-plik4"/>
                <button id="butt-czysc4">Wyczyść</button>
                <button id="butt-plik4">Prześlij</button>

                Wgraj grafike do przycisku [Rozpocznij]:
                <input type="file" id="prze-plik5"/>
                <button id="butt-czysc5">Wyczyść</button>
                <button id="butt-plik5">Prześlij</button>

                Wgraj grafike do przycisku [Podpowiedz 1]:
                <input type="file" id="prze-plik"/>
                <button id="butt-czysc">Wyczyść</button>
                <button id="butt-plik">Prześlij</button>

                Wgraj grafike do przycisku [Podpowiedz 2]:
                <input type="file" id="prze-plik2"/>
                <button id="butt-czysc2">Wyczyść</button>
                <button id="butt-plik2">Prześlij</button>

                Wgraj grafike do przycisku [Pokaz odpowiedź]:
                <input type="file" id="prze-plik6"/>
                <button id="butt-czysc6">Wyczyść</button>
                <button id="butt-plik6">Prześlij</button>

                Wgraj grafike do przycisku [Zgadnij]:
                <input type="file" id="prze-plik3"/>
                <button id="butt-czysc3">Wyczyść</button>
                <button id="butt-plik3">Prześlij</button>
                <p id="plik-info"></p>
                
                Ustaw text gratulacyjny:
                <div id="gratulacje-edit">
                    <input type="text" name="text-gratulacje" id="text-gratulacje" />
                    <button id='but-grat-text'>Zatwierdź</button>
                </div>
                
                <div id="text-start-edit">
                    Ustaw text na stronie startowej:
                    <img src="/media/images/rest/okno_start.png" id="start-img" />
                    <input type="text" name="text-start" id="text-start" />
                    <button id="but-start-text">Zatwierdź</button>
                </div>
                <div id="div-losowe-hasla">
                    Lista losowych haseł nieprawidłowej odpowiedzi:
                    {% for haslo in hasla %}
                    <div class="div-haslo">
                        <p class="text-haslo">-{{haslo.tresc}}</p>
                        <input type="hidden" value={{haslo.id}} name="haslo-id" />
                        <img src="/media/images/rest/minus.png" class="minusek" />
                    </div>
                    {%endfor%}
                    <div class="div-haslo">
                        <input type="text" id="nowe-haslo" name="nowe-haslo" />
                        <button id="nowe-haslo-but">dodaj</button>
                    </div>
                </div>
            </div>

            

            <div id="zagadki">
                <hr />
                <p> Panel zarządzania zagadkami </p>
                <div id="utworz-zagadke">
                    <div class="zagadka-content" id="zagadka-content-nowa">
                        <div id="utworz-text-div"> 
                            Utwórz nową zagadkę
                        </div>
                    </div>
                    <div class="zagadka-icons" id="zagadka-icons-nowa">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" id="nowa-zag-butt"  viewBox="0 0 50 50" width="30px" height="30px">    <path d="M25,2C12.317,2,2,12.317,2,25s10.317,23,23,23s23-10.317,23-23S37.683,2,25,2z M37,26H26v11h-2V26H13v-2h11V13h2v11h11V26z"/></svg>
                    </div>
                </div>
                {% for zagadka in zagadki %}
                    <div class="zagadka">
                        <div class="zagadka-content">
                            <div id="utworz-tekst-div">
                                {{zagadka.tresc}}
                            </div>
                            <div id="label-square" class="edit-form-hidden">
                                Treść <br />
                                Odpowiedź <br />
                                Podpowiedź 1 <br />
                                Podpowiedź 2 <br />
                                Klucz wejściowy <br />
                                Klucz wyjściowy <br />
                                Plik Grafiki: 
                            </div>
                            <div id="form-square" class="edit-form-hidden">
                                <form>
                                    <input type = "text" name="pole-tresc" value = "{{zagadka.tresc}}"/>
                                    <input type = "text" name="pole-odpowiedz" value = "{{zagadka.odpowiedz}}"/>
                                    <input type = "text" name="pole-podp1" value = "{{zagadka.podp1}}"/>
                                    <input type = "text" name="pole-podp2" value = "{{zagadka.podp2}}"/>
                                    <input type = "text" name="pole-kluczWe" value = "{{zagadka.klucz_wejsciowy}}"/>
                                    <input type = "text" name="pole-kluczWy" value = "{{zagadka.klucz_wynikowy}}"/>
                                    <input type = "file" name="pole-grafika" class ="file_zagadka_edit"/>
                                    <input type = "hidden" value="{{zagadka.id}}" name="pole-id" />
                                </form>
                            </div>
                        </div>
                        <div class="zagadka-icons">
                            <img src='/media/images/rest/edit.png' class = 'icon edit'/>
                            <img src='/media/images/rest/trash.png' class = 'icon remove'/>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
    {% csrf_token %}
    <script src="{% static 'js/administracja.js' %}"></script>
</html>