{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Zagadka</title>
        <link rel="stylesheet" type='text/css' href="{% static 'css/index.css' %}">
    </head>
    <body>
        <div class="container">
            <div id="wynikowe">
                <div class="fb-hover-div">
                    <img class="fb-icon" src='/media/images/rest/Facebook_icon_2013.png' />
                    <div class="fb-text">Udostępnij na Facebooku!</div>
                </div> 
                <button id="od-nowa">Rozpocznij od początku</button>
            </div>
        </div>
    </body>
    {% csrf_token %}
    <script src="{% static 'js/gratulacje.js' %}"></script>
</html>