{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Zagadka</title>
        <link rel="stylesheet" type='text/css' href="{% static 'css/index.css' %}">
    </head>
    <body>
        <div class="container">
            <div id="pytanie">
            </div>
            <div id="podpowiedz">
            </div>
            <div id="odpowiedz">
                <input type="text" id="wprowadz" placeholder="wprowadź kod zagadki"/>
                <button style="background: url({{submit.dokument.url}})" id="butt-next"/>
            </div>
            <div id="podpowiedzi">
                <button style="background: url({{podp1.dokument.url}})" class="butt-podp" id="buttp1"/>
                <button style="background: url({{podp2.dokument.url}})" class="butt-podp" id="buttp2"/>
            </div>
        </div>
    </body>
    {% csrf_token %}
    <script src="{% static 'js/index.js' %}"></script>
</html>