{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Zagadka</title>
        <link rel="stylesheet" type='text/css' href="{% static 'css/index.css' %}">
    </head>
    <body>
        <div class="container">
            <div id="start-header">
                <img src="{{tyt.dokument.url}}" id="header-img" />
            </div>
            <div id="start-panel">
                <button style="background: url({{rozp.dokument.url}})" id="butt-rozpocznij"></button>
                <p id="start-panel-text">{{napis_start}}</p>
                <div id="start-panel-kod">
                    <input type="text" id="kod-zagadki" /><button style="background: url({{submit.dokument.url}})" id="butt-next"/>
                    
                </div>
                <div id="server-info">
                </div>
            </div>
        </div>
    </body>
    {% csrf_token %}
    <script src="{% static 'js/start.js' %}"></script>
</html>