{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <title>Zagadka</title>
        <link rel="stylesheet" type='text/css' href="{% static 'css/index.css' %}">
    </head>
    <body>
        <div class="container">
            <div id="start-panel" style="background-image: url('{{tyt.dokument.url}}'">
                <button style="background: url({{rozp.dokument.url}})" id="butt-rozpocznij"></button>
                <p id="start-panel-text">{{napis_start}}</p>
                
                <input type="text" id="kod-zagadki" />
                <button style="background: url({{submit.dokument.url}})" id="butt-next"/>  
                
                <div id="server-info">
                </div>
            </div>
        </div>
    </body>
    {% csrf_token %}
    <script src="{% static 'js/start.js' %}"></script>
</html>